{{ define "main" }}

<!-- react native mobile development -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="https://www.optisolbusiness.com/wp-content/uploads/2020/01/reactnative-with-android-ios-job.png" style="width: 100%;" alt="">
      </div>
      <div class="col-md-6 content">
        {{ .Content }}
      </div>
    </div>
    <!-- <div class="row"> -->
      <!-- responsive web development item -->
      <!-- {{ range .Data.Pages }}
      <div class="col-lg-4 col-sm-6 mb-4">
        {{ .Render "scholarship1" }}
      </div>
      {{ end }}
    </div> -->
  </div>
</section>
<!-- /react native mobile development -->

{{ end }}