<li class="d-md-table w-100 border-bottom hover-shadow">
  <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
    <a href="{{ .Permalink }}" class="h3 mt-5 text-solid d-block">{{ .Title }}</a>
    <p class="mb-5">{{ .Summary }}</p>
  </div>
  <div class="d-md-table-cell text-right pr-0 pr-md-4"><a href="{{ .Permalink }}" class="btn btn-primary mt-5">{{ i18n "read_more"}}</a></div>
</li>