<!-- <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
    <img class="card-img-top rounded-0" src="{{ .Params.image | relURL }}" alt="scholarship-thumb">
    <div class="card-body">
      <h1 class="card-title mb-3">{{ .Title }}</h1>
      <div class="content">{{ .Content }}</div>
    </div>
  </div> -->