{{ define "main" }}

<!-- cordava app development -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="https://images.prismic.io/ionicframeworkcom/3d6dfd9bd31653194a051e7a2b859d0890a1554e_article---what-is-cordova-phone-gap.png?auto=compress,format" style="width: 100%;" alt="">
      </div>
      <div class="col-md-6 content">
        {{ .Content }}
      </div>
    </div>
    <!-- <div class="row"> -->
      <!-- responsive web development item -->
      <!-- {{ range .Data.Pages }}
      <div class="col-lg-4 col-sm-6 mb-4">
        {{ .Render "scholarship1" }}
      </div>
      {{ end }}
    </div> -->
  </div>
</section>
<!-- /cordava app development -->

{{ end }}