<!-- footer -->
<footer>
  <!-- newsletter -->
    {{ if site.Params.subscription.enable }}
    {{ with site.Params.subscription }}
    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
                    <h3 class="text-white">{{ i18n "subscribe_newsletter" }}</h3>
                    <form action="{{ .mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
                        <div class="input-wrapper">
              <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="{{ i18n "enter_email" }}">
              <button type="submit" name="subscribe" class="btn btn-primary">{{ i18n "join" }}</button>
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="{{ .mailchimp_form_name }}" tabindex="-1">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-8 mb-5 mb-lg-0">
                    <!-- logo -->
                    <a class="logo-footer" href="{{ site.BaseURL | relLangURL }}"><img class="img-fluid mb-4" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
                    <ul class="list-unstyled">
                        <li class="mb-4">{{ site.Params.address | markdownify }}</li>
                        <li class="mb-4">{{ site.Params.email | markdownify }}</li>
                        <!-- <li class="mb-4">{{ site.Params.mobile | markdownify }}</li> -->
                        <a class="text-color" href="tel:{{ site.Params.mobile }}"><strong>{{ i18n "call" | upper }} : </strong> {{ site.Params.mobile }}</a>
                    </ul>
                </div>
                <!-- company -->
                <div class="col-lg-3 col-sm-3 col-6">
                    <h4 class="text-white mb-4 text-uppercase">{{ i18n "company" }}</h4>
                    <ul class="list-unstyled">
                        {{ range site.Menus.footer1 }}
                        {{ if not .HasChildren }}
                        <li class="mb-3"><a class="text-color" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
                <!-- Services -->
                <div class="col-lg-3 col-sm-3 col-6">
                    <h4 class="text-white mb-4 text-uppercase">{{ i18n "Our services" }}</h4>
                    <ul class="list-unstyled">
                        {{ range site.Menus.footer }}
                        <li class="mb-3"><a class="text-color" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                <!-- courses -->
                <!-- <div class="col-lg-2 col-sm-3 col-12 mt-4">
                    <h4 class="text-white mb-5 text-uppercase">{{ i18n "" }}</h4>
                    <ul class="list-unstyled">
                        {{ range (where site.RegularPages "Type" "")}}
                        <li class="mb-3"><a class="text-color" href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </div> -->
                <!-- quick link -->
                <div class="col-lg-3 col-sm-4 col-6 mb-5 mb-md-0">
                    <h4 class="text-white mb-4 text-uppercase">{{ i18n "quick_link" }}</h4>
                    <ul class="list-unstyled">
                        {{ range first 3 (where site.RegularPages "Type" "development")}}
                        <li class="mb-3"><a class="text-color" href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyright py-4 bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 text-sm-left text-center">
                    <p  class="mb-0">{{ site.Params.copyright | markdownify }}</p>
                    <!-- <p><a href="https://two44software.com">design by two44software</a></p> -->
                </div>
                <!-- <div class="col-sm-5 text-sm-right text-center">
                    <ul class="list-inline">
                        {{ range site.Params.social }}
                        <li class="list-inline-item"><a class="d-inline-block p-2" href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>
                        {{ end }}
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->

{{ "<!-- Google Map API -->" | safeHTML }}
{{ with site.Params.map.gmap_api }}
<script src="{{ . | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with site.Params.google_analitycs_id}}
<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', '{{ . }}', 'auto');
ga('send', 'pageview');
</script>
{{ end }}

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
        This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-outline-primary ml-2">I Accept</span>
</div>
<script>
    (function($) {
            const cookieBox = document.getElementById('js-cookie-box');
            const cookieButton = document.getElementById('js-cookie-button');
            if (!Cookies.get('cookie-box')) {
                    cookieBox.classList.remove('cookie-box-hide');
                    cookieButton.onclick = function() {
                            Cookies.set('cookie-box', true, {
                                    expires: {{ site.Params.cookies.expire_days }}
                            });
                            cookieBox.classList.add('cookie-box-hide');
                    };
            }
    })(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}