{{ define "main" }}
<style>
  .card {
    border: 2px solid #F4B400;
    box-shadow: 0px 10px 15px -12px rgb(0 0 0);
    height: auto;
    margin-top: 73px;
}
.card{
  position: relative;
  padding-bottom: 10px;
}
.card .img-card {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
} 
.card .img-card-1 {
    border: 3px solid #548ff4;
    background: #fff;
}
.card .img-card-2 {
    border: 3px solid #0c9d58;
    background: #fff;
}
.card .img-card-3 {
    border: 3px solid #f4b500;
    background: #fff;
}
.card .image-card {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}
.card-body{
  padding: 25px 15px;
}
.card-title-1{
  padding: 15px 10px;
  background-color: #548ff4;
  font-size: 20px;
}
.card-title-2{
  padding: 15px 10px;
  background-color: #0c9d58;
  font-size: 20px;
}
.card-title-3{
  padding: 15px 10px;
  background-color: #f4b500;
  font-size: 20px;
}
ul{
  padding: 0;
}
.card-lines{
  padding: 8px;
}
.card1-btn{
  border: 1px solid #548ff4;
  background-color: #548ff4;
  color: white;
  cursor: pointer;
}
.card1-btn{
   position: relative;
   bottom: -143px;
   left: 85px;
   padding-bottom: 10px;
   justify-content: center;
}
.card1-btn:hover{
  background-color: white;
  cursor: pointer;
}
.card2-btn{
  border: 1px solid #0c9d58;
  background-color: #0c9d58;
  color: white;
  cursor: pointer;
}
.card2-btn{
   position: relative;
   bottom: -143px;
   left: 85px;
   justify-content: center;
}
.card2-btn:hover{
  background-color: white;
  cursor: pointer;
}
.card3-btn{
  border: 1px solid #f4b500;
  background-color: #f4b500;
  color: white;
  cursor: pointer;
}
.card3-btn{
   position: relative;
   bottom: -143px;
   left: 85px;
   justify-content: center;
}
.card3-btn:hover{
  background-color: white;
  cursor: pointer;
}
.card-text .list {
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
}
.card-text .list li {
    padding: 0px 0px 8px 10px;
    position: relative;
    font-size: 16px;
}
.custom-width .col-xs-10{
  width: 83.333%;
}
.custom-width .col-xs-2{
  width: 16.66%;
}

</style>

<!-- website development -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="https://magecomp.com/media/wysiwyg/Ecommerce_App_Development_Service_-_Infographics.webp" style="width: 100%;" alt="">
      </div>
      <div class="col-md-6 content">
        {{ .Content }}
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-4 col" id="EcomStandard">
        <div class="card custom-card">
          <div class="img-card img-card-1">
            <span style="color: #06D7F6; font-size: 30px;"><i class="fa-solid fa-rocket"></i></span>
          </div>
          <div class="card-body">
            <div class="card-title-1 card-header1 text-center">
              <h5 class="text-white">
                <span>Standard</span> 
                <hr>
                <span>Starting INR 80000/-</span>
              </h5>
            </div>
            <div class="card-text custom-width">
              <ul class="list row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>Template based design</strong>
                  </li>
                </div>
                <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class=" col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>Upto 50 Products</strong>
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    1 Domain Name for FREE!
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>Upto 10 Email Ids</strong>
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>5 GB Space, Unlimited Bandwidth</strong>
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Third party shipping gateway integration (Shiprocket)
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    API Integration (Integration Charges are Extra )
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Order Details by Email & SMS
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Unlimited Categories
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Unlimited Product Images
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Unlimited Product Options
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Slideshow & Banners Management
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    SEO Friendly & Responsive Website
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Payment gateway integration
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    SSL integration
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Free 1 year Web Hosting
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    SMS gateway integration
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    COD / Debit Cards / Credit Cards / Net
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Banking / Bank Transfer
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Live Chat Support Integration
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Skype / Email / Mobile / Chat Support
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    User Login and dashboard
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    No Setup & Hidden Charges
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Just Pay 50% to Get Started
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
              </ul>
            </div>
            <div>
              <button type="button" class="p-3 align-self-end btn card1-btn"> <a href="/contact">Enquire Now</a></button>
            </div>
          </div> 
        </div>
      </div>
      <div class="col-md-4" id="EcomPremium">
        <div class="card custom-card">
          <div class="img-card img-card-2">
            <span style="color: #06D7F6; font-size: 30px;"><i class="fa-solid fa-coins"></i></span>
          </div>
          <div class="card-body">
            <div class="card-title-2 card-header1 text-center">
              <h5 class="text-white">
                <span>Premium</span> 
                <hr>
                <span>Starting INR 120000/-</span>
              </h5>
            </div>
            <div class="card-text custom-width">
              <ul class="list row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>Template based design</strong>
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>Upto 200 Products</strong>
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    1 Domain Name for FREE!
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>Upto 15 Email Ids</strong>
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>10 GB Space, Unlimited Bandwidth</strong>
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Third party shipping gateway integration (Shiprocket)
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    API Integration (Integration Charges are Extra )
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Order Details by Email 
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Unlimited Categories
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Unlimited Product Images
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Unlimited Product Options
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Slideshow & Banners Management
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    SEO Friendly & Responsive Website
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Payment gateway integration
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    SSL integration
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Free 1 year Web Hosting
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    COD / Debit Cards / Credit Cards / Net Banking / Bank Transfer
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Filter Products by Size / Colors
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Live Chat Support Integration
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Skype / Email / Mobile / Chat Support
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    User Login and dashboard
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    No Setup & Hidden Charges
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Just Pay 50% to Get Started
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>

              </ul>
            </div>
            <div>
              <button type="button" class="p-3 align-self-end btn card2-btn"> <a href="/contact">Enquire Now</a></button>
            </div>
          </div> 
        </div>
      </div>
      <div class="col-md-4" id="EcomUltimate">
        <div class="card custom-card">
          <div class="img-card img-card-3">
            <span style="color: #06D7F6; font-size: 30px;"><i class="fa-regular fa-gem"></i></span>
          </div>
          <div class="card-body">
            <div class="card-title-3 card-header1 text-center">
              <h5 class="text-white">
                <span>Ultimate</span> 
                <hr>
                <span>Starting INR 180000/-</span>
              </h5>
            </div>
            <div class="card-text custom-width">
              <ul class="list row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>Custom based design</strong>
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>Upto 5000 Products</strong>
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    1 Domain Name for FREE!
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>Upto 20 Email Ids</strong>
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    <strong>15 GB Space, Unlimited Bandwidth</strong>
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Third party shipping gateway integration (Shiprocket)
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    API Integration (Integration Charges are Extra )
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Order Details by Email 
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Unlimited Categories
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Unlimited Product Images
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Unlimited Product Options
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Slideshow & Banners Management
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    SEO Friendly & Responsive Website
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Payment gateway integration
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    SSL integration
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Free 1 year Web Hosting
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    SMS gateway integration
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    COD / Debit Cards / Credit Cards / Net Banking / Bank Transfer
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Live Chat Support Integration
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Skype / Email / Mobile / Chat Support
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    User Login and dashboard
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    No Setup & Hidden Charges
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <li>
                    Just Pay 50% to Get Started
                  </li>
                </div>
                <div class="col-lg-2 col-xs-2">
                  <span style="color: green; font-size: 15px;"><i class="fa-sharp fa-solid fa-check"></i></span>
                </div>
              </ul>
            </div>
            <div>
              <button type="button" class="p-3 align-self-end btn card3-btn"> <a href="/contact">Enquire Now</a></button>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <!-- <div class="row"> -->
      <!-- responsive web development item -->
      <!-- {{ range .Data.Pages }}
      <div class="col-lg-4 col-sm-6 mb-4">
        {{ .Render "scholarship1" }}
      </div>
      {{ end }}
    </div> -->
  </div>
</section>
<!-- /website development -->

{{ end }}