{{ define "main" }}
<style>
  .card {
    border: 2px solid #F4B400;
    box-shadow: 0px 10px 15px -12px rgb(0 0 0);
    height: 900px;
    margin-top: 73px;
}
.card{
  position: relative;
}
.card .img-card {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
} 
  .card .img-card-1 {
    border: 3px solid #333;
    background: #fff;
}
.card .img-card-2 {
    border: 3px solid #548ff4;
    background: #fff;
}
.card .img-card-3 {
    border: 3px solid #0c9d58;
    background: #fff;
}
.card .img-card-4 {
    border: 3px solid #f4b500;
    background: #fff;
}
.card .image-card {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}
.card-body{
  padding: 25px 15px;
}
.card-title-1{
  padding: 15px 10px;
  background-color: #333333;
  font-size: 20px;
}
.card-title-2{
  padding: 15px 10px;
  background-color: #548ff4;
  font-size: 20px;
}
.card-title-3{
  padding: 15px 10px;
  background-color: #0c9d58;
  font-size: 20px;
}
.card-title-4{
  padding: 15px 10px;
  background-color: #f4b500;
  font-size: 20px;
}
ul{
  padding: 0;
}
.card-lines{
  padding: 8px;
}
.card1-btn{
  border: 1px solid #333333;
  background-color: #333333;
  color: white;
  cursor: pointer;
}
.card1-btn{
   position: absolute;
   bottom: -66px;
   left: 28px;
   justify-content: center;
}
.card1-btn:hover{
  background-color: white;
  cursor: pointer;
}
.card2-btn{
  border: 1px solid #548ff4;
  background-color: #548ff4;
  color: white;
  cursor: pointer;
}
.card2-btn{
   position: absolute;
   bottom: -66px;
   left: 28px;
   justify-content: center;
}
.card2-btn:hover{
  background-color: white;
  cursor: pointer;
}
.card3-btn{
  border: 1px solid #0c9d58;
  background-color: #0c9d58;
  color: white;
  cursor: pointer;
}
.card3-btn{
   position: absolute;
   bottom: -66px;
   left: 28px;
   justify-content: center;
}
.card3-btn:hover{
  background-color: white;
  cursor: pointer;
}
.card4-btn{
  border: 1px solid #f4b500;
  background-color: #f4b500;
  color: white;
  cursor: pointer;
}
.card4-btn{
   position: absolute;
   bottom: -66px;
   left: 28px;
   justify-content: center;
}
.card4-btn:hover{
  background-color: white;
  cursor: pointer;
}
@media screen and (max-width: 414px) {
  .col{
    padding-top: 76px;
  }
}
@media screen and (max-width: 1000px) {
  .card1-btn{
   left: 70px;
  }
  .card2-btn{
   left: 70px;
  }
  .card3-btn{
   left: 70px;
  }
  .card4-btn{
   left: 70px;
  }
}
</style>

<!-- website development -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="https://negliadesign.com/wordpress/assets/Website-Development-feature3.001.jpg" style="width: 100%;" alt="">
      </div>
      <div class="col-md-6 content">
        {{ .Content }}
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-6 col-lg-3 col-sm-12 " id="WebSinglePage">
        <div class="card custom-card">
          <div class="img-card img-card-1">
            <span style="color: #2d2173; font-size: 30px;"><i class="fa-solid fa-desktop"></i></span>
          </div>
          <div class="card-body">
            <div class="card-title-1 card-header1 text-center">
              <h5 class="text-white">
                <span>Single Page</span>
                <hr>
                <strike>INR 10500 &nbsp;</strike>
                &nbsp; INR 7944/-
              </h5>
            </div>
            <div class="card-text">
              <ul>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>+ Development + Hosting of Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span> Registration of Domain Name</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Upto 3 Bussiness Emails</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Static Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Mobile Responsive Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Social Media Integration</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>SSL Integration (Excluded)</span> 
                </li>
              </ul>
            </div>
            <div>
              <button type="button" class="align-self-end btn card1-btn"> <a href="/contact">Enquire Now</a></button>
            </div>
          </div> 
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-12" id="WebBasic">
        <div class="card custom-card">
          <div class="img-card img-card-2">
            <span style="color: #06D7F6; font-size: 30px;"><i class="fa-solid fa-rocket"></i></span>
          </div>
          <div class="card-body">
            <div class="card-title-2 card-header1 text-center">
              <h5 class="text-white">
                <span>Basic</span> 
                <hr>
                <span>Starting INR 18000/-</span>
              </h5>
            </div>
            <div class="card-text">
              <ul>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>+ Development + Hosting of Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span> Registration of Domain Name</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>SSL Integration (Secure Website)</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Upto 5 Business Emails</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Dynamic Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Mobile Responsive Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Multiple Enquiry Forms</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Upto 12 Pages</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Online Web Chat</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Social Media Integration</span> 
                </li>
              </ul>
            </div>
            <div>
              <button type="button" class="align-self-end btn card2-btn"> <a href="/contact">Enquire Now</a></button>
            </div>
          </div> 
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-12" id="WebStandard">
        <div class="card custom-card">
          <div class="img-card img-card-3">
            <span style="color: #2d2173; font-size: 30px;"><i class="fa-solid fa-coins"></i></span>
          </div>
          <div class="card-body">
            <div class="card-title-3 card-header1 text-center">
              <h5 class="text-white">
                <span>Standard</span> 
                <hr>
                <span>Starting INR 35000/-</span>
              </h5>
            </div>
            <div class="card-text">
              <ul>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>+ Development + Hosting of Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Registration of Domain Name</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>SSL Integration (Secure Website)</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Upto 5 Bussiness Emails</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Dynamic Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Mobile Responsive Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Multiple Enquiry Forms</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Upto 25 Pages</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Google Business page</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Location Map</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Website Analytics</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Online Web Chat</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Social Media Integration</span> 
                </li>
              </ul>
            </div>
            <div>
              <button type="button" class="align-self-end btn card3-btn"> <a href="/contact">Enquire Now</a></button>
            </div>
          </div> 
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-12" id="WebPremium">
        <div class="card custom-card">
          <div class="img-card img-card-4">
            <span style="color: #06D7F6; font-size: 30px;"><i class="fa-regular fa-gem"></i></span>
          </div>
          <div class="card-body">
            <div class="card-title-4 card-header1 text-center">
              <h6 class="text-white">
                <span>Premium</span>
                <hr>
                <span>Starting INR 65000/-</span>
              </h6>
            </div>
            <div class="card-text">
              <ul>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Custom Website Designing</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>+ Development + Hosting of Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Registration of Domain Name</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>SSL Integration (Secure Website)</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Upto 5 Bussiness Emails</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Dynamic Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Mobile Responsive Website</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Multiple Enquiry Forms</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Upto 50 Pages</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Google Business page</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Location Map</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Website Analytics</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Online Web Chat</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Social Media Integration</span> 
                </li>
                <li class="card-lines">
                  <span><bold>✓&nbsp;</bold></span>
                  <span>Payment Gateway Integration</span> 
                </li>
              </ul>
            </div>
            <div>
              <button type="button" class="align-self-end btn card4-btn"> <a href="/contact">Enquire Now</a></button>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <!-- <div class="row"> -->
      <!-- responsive web development item -->
      <!-- {{ range .Data.Pages }}
      <div class="col-lg-4 col-sm-6 mb-4">
        {{ .Render "scholarship1" }}
      </div>
      {{ end }}
    </div> -->
  </div>
</section>
<!-- /website development -->

{{ end }}